

<h1>Tranjections</h1>

<table>
  <thead>
    <tr>
      <th>Tranjectiontype</th>
      <th>Uses</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tranjections.each do |tranjection| %>
      <tr>
        <td><%= tranjection.tranjectiontype %></td>
        <td><%= tranjection.uses %></td>
        <td><%= tranjection.amount %></td>
        <td><%= link_to 'Show', tranjection %></td>
        <td><%= link_to 'Edit', edit_tranjection_path(tranjection) %></td>
        <td><%= link_to 'Destroy', tranjection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tranjection', new_tranjection_path %>
